@charset "UTF-8";
/* CSS Document */
body {
  margin: 0;
  background: #fff;
}
html {
  scroll-behavior: smooth;
}
#hero {
  position: relative;
  text-align: center;
  color: white;
}
#hero img {
  width: 100%;
  filter: brightness(25%);
}
#heroText {
  position: absolute;
  width: 100%;
  top: 15em;
}
#heroText p {
  font-size: 5em;
}
#exploreButton {
  position: absolute;
  top: 25em;
  left: calc(50% - 7em/2);
  width: 7em;
  background-color: #fff;
  border-radius: 0.3em;
  height: 2em;
  padding-top: 0.7em;
}
#hero a {
  font-size: 1.3em;
  color: #003366;
  text-decoration: none;
  text-align: center;
}
#hero a:checked {
  color: #003366;
}
.info {
  padding: 1em 5em;
}
.info h3 {
  font-size: 2em;
  color: #003366;
}
.info p {
  font-size: 1.2em;
  color: #094d91;
  line-height: 2;
}
#countdown .big-text {
  font-size: 5em;
  margin: 0;
  padding: 1.5em 0 0 0;
  color: #094d91;
}
#countdown p {
  text-align: center;
  color: #094d91;
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  left: -2em;
}
.comp {
  padding: 0;
  width: 50em;
  margin: 1em 4em;
  text-align: center;
  font-size: 1.5em;
  color: #094d91;
}
.date {
  padding: 0;
  width: 50vw;
  margin: 1vw 4vw;
  text-align: center;
  font-size: 1vw;
  color: #094d91;
}
#container_mobile {
  display: none;
}
#companies {
  width: 100%;
}
#companies img {
  display: inline-flex;
  float: none;
  margin-top: 2em;
  padding-right: 2em;
  text-align: center;
  width: 13em;
}
#companies img:hover {
  opacity: 0.6;
}
footer {
  bottom: 0;
  width: 100%;
  height: 2.5em;
  text-align: center;
  background-color: #003366;
  font-size: 1.5em;
  clear: both;
}
h6 {
  padding-top: 1em;
  padding-right: 1em;
  color: white;
}
/*Mobile css*/
@media screen and (max-width: 768px) {
  #hero img {
    width: 100%;
    filter: brightness(25%);
  }
  #heroText {
    display: none;
  }
  #exploreButton {
    display: none;
  }
  #hero a {
    font-size: 1em;
    color: #003366;
    text-decoration: none;
    text-align: center;
  }
  #hero a:checked {
    color: #003366;
  }
  .info {
    padding: 1em 3em;
  }
  .info h3 {
    font-size: 2em;
    text-align: center;
    color: #003366;
  }
  .info p {
    font-size: 1.2em;
    color: #094d91;
    line-height: 2;
  }
  #countdown .big-text {
    font-size: 5em;
    margin: 0;
    padding: 1.5em 0 0 0;
    color: #094d91;
  }
  #countdown p {
    text-align: center;
    color: #094d91;
  }
  .container {
    display: none;
  }
  #container_mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.5em;
  }
  .comp {
    padding: 0;
    margin: 1em;
    font-size: 2em;
    color: #094d91;
    width: auto;
  }
  #countdown {
    display: none;
  }
  #companies {
    width: 100%;
  }
  #companies img {
    display: inline-flex;
    float: none;
    margin-top: 2em;
  }
  #companies img:hover {
    opacity: 0.6;
  }
  footer {
    bottom: 0;
    width: 100%;
    height: 5em;
    text-align: center;
    background-color: #003366;
    font-size: 0.5em;
    clear: both;
  }
  h6 {
    padding: 1em;
    padding-right: 1em;
    color: white;
  }
}
